@section head
{
    <meta name="robots" content="noindex, nofollow">
}
@{
    ViewBag.Title = "The url is removed";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<h2>The url is removed from the site</h2>