@{
    ViewBag.Title = "Контакти";
}

@section scripts
{
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&language=ua"></script>
    <script>
        var map;
        var marker;
        var myLocationMarker;
        google.maps.visualRefresh = true;

        $('#getDirection').on('click', function () {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = new window.google.maps.LatLng(position.coords.latitude,
                        position.coords.longitude);
                    myLocationMarker = new window.google.maps.Marker({
                        position: pos,
                        map: map,
                        draggable: false,
                        animation: window.google.maps.Animation.DROP,
                        title: 'Ви знаходитесь тут!'
                    });

                    var bounds = new window.google.maps.LatLngBounds(marker.getPosition());
                    bounds.extend(myLocationMarker.getPosition());
                    map.fitBounds(bounds);

                    var geodesicOptions = {
                        strokeColor: '#00bfff',
                        strokeOpacity: 0.75,
                        strokeWeight: 5,
                        geodesic: true,
                        map: map
                    };
                    var geodesicPoly = new window.google.maps.Polyline(geodesicOptions);
                    var path = [marker.getPosition(), myLocationMarker.getPosition()];
                    geodesicPoly.setPath(path);


                }, function () {
                    handleNoGeolocation(true);
                });
            } else {
                handleNoGeolocation(false);
            }

            function handleNoGeolocation(errorFlag) {
                var content;
                if (errorFlag) {
                    content = 'Зараз ми не можемо показати на карті як до нас заїхати.';
                } else {
                    content = 'Ваш браузер не підтримує дану функцію.';
                }

                alert(content);
            }
        });
        $(document).ready(function () {
            var lat = 49.862567;
            var lng = 24.051631;
            var loc = new window.google.maps.LatLng(lat, lng);
            var mapOptions = {
                zoom: 15,
                center: new window.google.maps.LatLng(lat, lng),
                mapTypeId: window.google.maps.MapTypeId.ROADMAP
            };
            map = new window.google.maps.Map(document.getElementById('map_canvas'),
                mapOptions);

            var contentString = '<div id="content">' +
                '<div id="siteNotice">' +
                '</div>' +
                '<h1 id="firstHeading" class="firstHeading">www.3e.lviv.ua</h1>' +
                '<div id="bodyContent">' +
                '<h2>www.3e.lviv.ua - Інтернет магазин електро товарів.</h2>' +
                '<img src="/Content/images/logo.png"/>' +
                '<p>Завтіайте на наш <a href="/">Веб сайт</a></p>' +
                '</div>' +
                '</div>';

            var infowindow = new window.google.maps.InfoWindow({
                content: contentString
            });

            marker = new window.google.maps.Marker({
                position: loc,
                map: map,
                draggable: false,
                animation: window.google.maps.Animation.BOUNCE,
                title: 'www.3e.lviv.ua'
            });
            window.google.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
            });

            window.google.maps.event.addListener(marker, 'mouseover', removeanimation);
            window.google.maps.event.addListener(marker, 'mouseout', addanimation);

            function addanimation() {
                marker.setAnimation(window.google.maps.Animation.BOUNCE);
            }

            function removeanimation() {
                if (marker.getAnimation() != null) {
                    marker.setAnimation(null);
                }
            }
        });

        $('#getCallback').on('click', function () {
            var phone = $('#mobilePhone').val();
            $.post("/home/callback", { phone: phone })
            .done(function () {
                $('#callbackDialog').modal('hide');
            });

        });
    </script>
}
@section breadCrumb {
    <li class="active">@ViewBag.Title</li>
}
<span class="lead">@ViewBag.Title</span>
<hr />
<div class="row">
    <div class="col-md-4">
        <section>
            <h4>Телефон</h4>
            <div class="row">
                <div class="col-md-4"><span class="label label-default">Відділ продаж:</span></div>
                <div class="col-md-8">
                    <p class="lead">(067) 33-57-863</p>
                    <p class="lead">(063) 96-22-533</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"><span class="label label-default">Консультація:</span></div>
                <div class="col-md-8">
                    <p class="lead">(067) 33-57-863</p>
                    <p class="lead">(063) 96-22-533</p>
                </div>
            </div>
        </section>

        <section>
            <header>
                <h4>Пошта</h4>
            </header>
            <p>
                <span class="label label-default">Продаж:</span>
                <span><a href="mailto:3e.lviv@gmail.com">3e.lviv@gmail.com</a></span>
            </p>
            <p>
                <span class="label label-default">Співпраця:</span>
                <span><a href="mailto:3e.lviv@gmail.com">3e.lviv@gmail.com</a></span>
            </p>
        </section>

        <section>
            <header>
                <h4>Адреса</h4>
            </header>
            <p class="lead">
                м. Львів<br />
                вул. Богдана Хмельницького 178
            </p>
        </section>
        <button class="btn btn-default btn-primary btn-lg" id="getDirection">Як заїхати?</button>
        <a class="btn btn-default btn-primary btn-lg" href="#callbackDialog" data-toggle="modal">Передзвонити мені!</a>
    </div>
    <div class="col-md-8">
        <section>
            <div id="map_canvas"></div>
        </section>

    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1"
        class="modal fade" id="callbackDialog" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h3 id="myModalLabel">Передзвоніть мені</h3>
                </div>
                <div class="modal-body">
                    <form class="form-inline">

                        <p class="text-info">Надішліть нам Ваш номер і ми Вам передзвонимо!</p>
                        <label class="control-label" for="mobilePhone">Номер телефону:</label>
                        <input type="text" id="mobilePhone">
                    </form>
                </div>
                <div class="modal-footer">
                    <span>
                        <button id="getCallback" class="btn btn-default btn-primary">Надіслати</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


