<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection"
      connectionString="Server=eea910ba-d213-4e8b-b0e7-a1d90103f0b7.sqlserver.sequelizer.com;Database=dbeea910bad2134e8bb0e7a1d90103f0b7;User ID=cuqreymhegzatrvm;Password=CX2LLfpufPUSmpRthLChdE54n3BXyL7uyC3gpAQaGtKDmUe5FJ3jnSy736ySKz5A;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="elmah-sqlserver"
      connectionString="Server=eea910ba-d213-4e8b-b0e7-a1d90103f0b7.sqlserver.sequelizer.com;Database=dbeea910bad2134e8bb0e7a1d90103f0b7;User ID=cuqreymhegzatrvm;Password=CX2LLfpufPUSmpRthLChdE54n3BXyL7uyC3gpAQaGtKDmUe5FJ3jnSy736ySKz5A;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <!--<add name="DefaultConnection"
      connectionString="Data Source=SQL5002.Smarterasp.net;Initial Catalog=DB_9A9CA6_vslotylo;User Id=DB_9A9CA6_vslotylo_admin;Password=FrederikO;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="elmah-sqlserver"
      connectionString="Data Source=SQL5002.Smarterasp.net;Initial Catalog=DB_9A9CA6_vslotylo;User Id=DB_9A9CA6_vslotylo_admin;Password=FrederikO"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>-->
  </connectionStrings>
  
  <system.web>
    <!--<compilation xdt:Transform="RemoveAttributes(debug)" />-->
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>