@model WebMarket.DAL.Entities.Voltmeter
@{
    ViewBag.Title = string.Format("Вольтметр: {0}", Model.Name);
}
@section scripts
{
    @Scripts.Render("~/bundles/app")
    <script type="text/javascript" src="/Content/yoxview/yoxview-init.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".yoxview").yoxview();
        });
    </script>
}
@section breadCrumb {
    <li><a href="@Url.Action("Index", "voltmeter")">Вольтметри</a><span class="divider">/</span></li>
    <li class="active">@Model.Name</li>
}
@Html.Partial("ProductDetailTemplate", Model)
