@model IList<WebMarket.Core.GenericFilterModelBase<int>>
<span class="muted">Показувати по: </span>
<div class="btn-group">
    <button data-toggle="dropdown" class="btn dropdown-toggle">@Model.FirstOrDefault(p => p.IsSelected).Name<span class="caret"></span></button>
    <ul class="dropdown-menu">
        @foreach (var item in Model)
        {
            <li>
                @Html.ActionLink(item.Name, "Index", item.Routes)
            </li>        
        }
    </ul>
</div>
