@model IList<WebMarket.Core.GenericFilterModelBase<int>>
<span class="disabled">Сортувати: </span>
<div class="btn-group">
    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">@Model.FirstOrDefault(p => p.IsSelected).Name<span class="caret"></span></button>
    <ul class="dropdown-menu">
        @foreach (var item in Model)
        {
            <li>
                <a href="@Url.RouteUrl("categoryBase", item.Routes)">@item.Name</a>
            </li>        
        }
    </ul>
</div>
