@using WebMarket.Filters
@model WebMarket.ViewModels.AvrViewModel
@{
    foreach (var item in ((PowerCapacityFilter)Model.Filters.GetFilter("powercapacity")).PowerCapacityList)
    {
    <a class="close" href="@Url.Action("Index", Model.Filters.RemoveFilterPart(Model.Filters.GetFilter("powercapacity"), item.ToString()))">&times;</a>
    <span>@Model.PowerCapacity.FirstOrDefault(t => t.Value.Item1 == item.Item1 && t.Value.Item2 == item.Item2).Name</span>      
    <br />
    }
}