@model IEnumerable<WebMarket.Core.GenericFilterModel<string>>
<p>
    <b>Виробник</b>
</p>
<div class="entityFilter" id="producers">
    @foreach (var item in Model)
    {
        <label class="checkbox">
            @Html.CheckBox(item.Name, item.IsSelected)
            @Html.ActionLink(item.Name, "index", item.Routes)
            <input type="hidden" class="filterValue" value="@item.Value" />
            <span class="badge">@item.ProductsCount</span>
        </label>
    }
</div>
