@model WebMarket.DAL.Entities.Product

<span class="label label-warning">
    @for (int i = 0; i < Model.Rate; i++)
    {
        <i class="glyphicon glyphicon-star glyphicon"></i>                
    }
</span>
