@using WebMarket.Extensions
@model WebMarket.Repository.Entities.Product

<div class="details-image-wrap">
    <div class="image-wrap">
        <span class="ribbon ribbon-details @Model.CssRibbonClass()"></span>
        @Html.Partial("ProductImage", Model)
    </div>
</div>
<br/>
