@using WebMarket.DAL.Entities.Enums
@model WebMarket.DAL.Entities.Product
@switch (Model.Availability)
{
    case Availability.Available:
        <p class="label label-success">Є в наявності</p>
        break;
    case Availability.NotAvailable:
        <p class="label label-default">Немає в наявності</p>
        break;
    case Availability.OnDemand:
        <p class="label label-warning">Під замовлення</p>
        break;
}
