<div id="footer" class="nav navbar navbar-fixed-bottom">
    <div class="navbar-inner ">
        <div class="container">
            <div class="row">
                <div class="span6 offset3">
                    <h5 class="text-center">&copy; 2013  - 3E Економія. Електрозахист. Енергозбереження.</h5>
                </div>
                <div class="span3">
                    <div class="pull-right" style="margin-top: 10px">
                        <span>Зараз на сайті: </span><span class="badge badge-success">@HttpContext.Current.Application["sessioncounter"]</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
