<div id="footer" class="nav navbar navbar-fixed-bottom">
    <div class="navbar-inner ">
        <div class="container">
            <div class="navcontainer">
                <ul class="nav">
                    <li>&copy; 2013  - 3E Економія. Електрозахист. Енергозбереження.</li>
                    <li><a href="http://facebook.com" >Facebook</a></li>
                    <li><a href="http://twitter.com" >Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>