<div>
    <span class="lead">@ViewBag.Title</span>
    <span class="pull-right">
        @Html.Partial("ControlPageSize", Model.PageSize)
    </span>
    <span class="pull-right">
        @Html.Partial("ControlSort", Model.Sort)
    </span>
</div>
<hr />
