@using WebMarket.Extensions
@model double

<div class="pull-right">
    <span class="lead">Разом до оплати: </span><span class="priceUah" id="totalSum">@Model.ToFormatString()</span><span class="priceUah"> грн.</span>
</div>
