<div style="max-width: 340px; padding: 8px 0;" class="well">
    <ul class="nav nav-list">
        <li class="nav-header">Статистика</li>
        <li><a href="@Url.Action("list", "order")">Всі замовлення</a></li>
        <li><a href="@Url.Action("import", "admin")">Керування цінами</a></li>
        <li><a href="/WebMarket/elmah.axd">Помилки</a></li>
    </ul>
</div>