@model int
@{
    ViewBag.Title = "Адміністрування";
}

@section breadCrumb {
    <li class="active">@ViewBag.Title</li>
}
<span class="lead">@ViewBag.Title</span>
<hr />

<div class="row">
    <div class="span4">
        @Html.Partial("AdminMenu")
    </div>
    <div class="span8">
        <div>Зараз на сайті: <span class="badge badge-success">@Model</span></div>
    </div>
</div>



