@model WebMarket.Repository.Infrustructure.ProductInfo

<tr>
    <td>
        @Html.TextBoxFor(obj => Model.Key, new { @class = "form-control" })
    </td>
    <td>
        @Html.TextBoxFor(obj => Model.Value, new { @class = "form-control" })
    </td>
</tr>


