.list-unstyled li {
    line-height: 25px;
}

.priceUah {
    font: Arial;
    font-size: 1.9em;
    color: #468847;
    font-weight: bold;
}

.alert-filter {
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
}

.disabled {
    opacity: .65;
}

.product-panel {
    border-color: #DDD;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 0;
}

.oldprice {
    color: #B2B2B2;
    font-size: 1.4em;
    text-decoration: line-through;
}

.discount {
    color: #FF5A00;
    font-size: 1.4em;
}

.priceUahSmall {
    font: Arial;
    font-size: 14px;
    line-height: 20px;
    color: #468847;
    font-weight: bold;
}

.priceUsd {
    font: Arial;
    font-size: 1.25em;
    color: #468847;
}

.maincontentregion {
    padding-top: 83px;
    padding-bottom: 41px;
}

.carousel {
    margin-bottom: 20px;
}

#myCarousel {
    margin-top: 20px;
}

.navbar-small {
    min-height: 30px;
}

.carousel-caption-landing {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.carousel-caption-landing-left {
    left: 15%;
    right: 50%;
}
.carousel-caption-landing-right {
    left: 50%;
    right: 15%;
}

.menuitem {
    font: Arial;
    font-size: 1.4em;
}

.infotext {
    font: Arial;
    padding: 5px 0 0 300px;
    font-size: 1.9em;
    color: #FFFF00;
    font-weight: bold;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-brand {
    height: auto;
}

    .navbar-brand > img {
        height: 50px;
    }

img {
    max-width: 100%;
    max-height: 100%;
}

.menu-form {
    padding-right: 0;
    margin-bottom: 0;
}

.form-prm {
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    max-width: 300px;
    padding: 19px 29px 29px;
}

.thumbnail-inner {
    border: 1px solid #FFFFFF;
    padding: 0px;
}

.tileheader {
    color: #999999;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    padding: 0px 10px 0px 0px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

.navbar-inverse .navbar-brand, .navbar-inverse .nav > li > a {
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

    .navbar-inverse .nav > li > a:focus,
    .navbar-inverse .nav > li > a:hover {
        color: #00bfff;
        background-color: transparent;
    }

#map_canvas {
    margin: 0;
    padding: 0;
    background-color: #E5E3DF;
    height: 500px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

    #map_canvas img {
        max-width: none;
    }

.map_container label {
    width: auto;
    display: inline;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #006DCC;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
}

.details-image-wrap {
    width: 320px;
    height: 320px;
}

.details-image-link {
    vertical-align: middle;
}

.details-image {
    height: auto;
    width: auto;
    max-height: 316px;
    max-width: 316px;
}

.details-image2 {
    height: auto;
    width: auto;
    max-height: 240px;
    max-width: 240px;
}

.image-wrap {
    border: 1px solid #C6C6C6;
    position: relative;
    width: 320px;
    padding: 1px;
    height: 320px;
    vertical-align: middle;
    text-align: center;
}

.image-wrap2 {
    position: relative;
    width: 240px;
    height: 240px;
    vertical-align: middle;
    text-align: center;
}

.ribbon {
    float: left;
    display: block;
    height: 128px;
    width: 128px;
    position: absolute;
    z-index: 1;
}

    .ribbon.ribbon-details {
        top: -5px;
        left: -5px;
    }

    .ribbon.ribbon-list {
        top: -10px;
        left: -10px;
    }

.ribbon-new {
    background-image: url("../Content/images/sprite.png");
    background-position: 0 0;
}

.ribbon-ourchoise {
    background-image: url("../Content/images/sprite.png");
    background-position: -128px 0;
}

.ribbon-sale {
    background-image: url("../Content/images/sprite.png");
    background-position: -256px 0;
}

.ribbon-top {
    background-image: url("../Content/images/sprite.png");
    background-position: -384px 0;
}

.ribbon-bestprice {
    background-image: url("../Content/images/sprite.png");
    background-position: -512px 0;
}

h1 {
    font-size: 22px;
    color: #3a87ad;
    line-height: 22px;
    margin: 0;
    display: inline;
}

/*bootstrap3 missing styles*/
.badge-success {
    background-color: #468847;
}

.alert, .alert h4 {
color: #C09853;
}

.alert .close {
top: -2px;
right: -21px;
line-height: 20px;
}
