@model WebMarket.DAL.Entities.Charger
@{
    ViewBag.Title = string.Format("Зарядний пристрій: {0}", Model.Name);
}
@section scripts
{
    <script src="/Content/js/cart.js" type="text/javascript"></script>
    <script type="text/javascript" src="/Content/yoxview/yoxview-init.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".yoxview").yoxview();
        });
    </script>
}
@section breadCrumb {
    <li><a href="@Url.Action("Index", "charger")">Зарядні пристрої</a><span class="divider">/</span></li>
    <li class="active">@Model.Name</li>
}
@Html.Partial("ProductDetailTemplate", Model)
