@model WebMarket.Core.FilterViewModelBase<WebMarket.DAL.Entities.Product>
@{
    ViewBag.Title = "Пошук";
}

@section breadCrumb {
    <li class="active">@ViewBag.Title</li>
}
<div>
    <span class="lead">@ViewBag.Title</span>
</div>
<hr />
<div class="row-fluid">
    @Html.Partial("ProductListTemplate", Model.Pagging)
</div>

